{% extends "base.html" %}
{% block content %}
<div class="content-section">
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th><a href="{{url_for('tickets_view')}}">Status<a></a></th>
        <th>Deadline</th>
        <th><a href="{{url_for('closed_tickets')}}?order_by=role">Role</a></th>
    </tr>

    {% if tickets %}
    {% for ticket in tickets %}
    <tr>
        <td><a href="{{url_for('ticket')}}?ticket_id={{ticket.id}}">{{ticket.id}}</a></td>
        <td>{{ticket.title}}</td>
        <td>{{ticket.status}}</td>
        <td>{{ticket.deadline}}</td>
        <td>{{ticket.role}}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</div>

{% endblock %}